{% extends 'base.html' %}

{% load libs_tags %}
{% load static %}

{% block title %}
   {{ user_from_view.username }}-profile
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
{% endblock %}

{% block content %}
{% if user_from_view %}
    <div id="msgs"></div>

    <div class="container emp-profile">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="{{ user_from_view.profile.avatar.image.url }}" class="rounded" width="200" height="auto" alt=""/>
                        </div>
                        <div class="profile-about">
                            <div class="row">
                            <div class="col-md-3">
                                <label>Username</label>
                            </div>
                            <div class="col-md-1">
                                <p>{{user_from_view.username}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Name</label>
                            </div>
                            <div class="col-md-1">
                                <p>{{user_from_view.first_name}} {{ user_from_view.last_name }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Email</label>
                            </div>
                            <div class="col-md-1">
                                <p>{{user_from_view.email}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Number of books on shelves</label>
                            </div>
                            <div class="col-md-1">
                                <p>{{user_from_view.profile.books.count}}</p>
                            </div>
                        </div>
                            {% if user_from_view == request.user %}

                                    <a href="{% url 'profile_update' %}"><button class="btn btn-outline-secondary">Edit profile</button></a>
                                    <a href="{% url 'followers' %}"><button class="btn btn-outline-secondary">My bookmates</button></a>
                                <br><br>
                                <div class="moderator-request text-center">
                                {% if moderation_request %}
                                    Moderator request status
                                    {% if moderation_request.accepted == False %}
                                        <div class="alert alert-warning" role="alert">
                                            Wait for acceptation
                                        </div>
                                    {% elif  moderation_request.accepted == True %}
                                        <div class="alert alert-success" role="alert">
                                            Request accepted
                                        </div>
                                    {% else %}
                                        <div class="alert alert-secondary" role="alert">
                                            Wait for acceptation
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <a href="{% url 'moderator_request' %}"><button class="btn btn-primary btn-block">Request moderator`s permissons</button></a>
                                {% endif %}

                                </div>
                            {% else %}
                                {% if user_from_view.profile in request.user.profile.follows.all %}
                                    <button class="btn btn-outline-danger follow-btn" onclick="follow()">Unfollow</button>
                                {% else %}
                                    <button class="btn btn-outline-primary follow-btn" onclick="follow()">Follow</button>
                                {% endif %}
                            {% endif %}

                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="profile-head">
                                    <h5>
                                        {{user_from_view.first_name}} {{ user_from_view.last_name }}
                                    </h5>
                                    <h6>
                                        {{user_from_view.profile.bio}}
                                    </h6>
{#                                    <p class="proile-rating">RANKINGS : <span>8/10</span></p>#}
                            Posts
                        {% if user_from_view == request.user %}
                            <h5>Create new post</h5>
                            <form id="addPost" action="" method="post">
                                {% csrf_token %}
                              <div class="form-group">
                                      <input class="form-control" type="text" name="title" placeholder="title" required>

                                      <textarea class="form-control" name="body" placeholder="content" required></textarea>

                        {#          !!!!!!!!!!!!!!!!!!!!!!!!!!!#}

                                <select class="selectpicker form-control" name="bookSelect" multiple="multiple" data-size="5" data-live-search="true" multiple data-max-options="3">
                                 {% for book in request.user.profile.books.all %}
                                  <option value="{{ book.id }}">{{ book.title }}</option>
                                 {% endfor %}
                                </select>


                        {#      !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1#}

                              </div>
                              <button class="btn btn-outline-primary" type="submit">Add Post</button>
                            </form>
                            {% endif %}
                        <br>
                        <div class="infinite-container" id="postDiv">
                            {% if posts %}
                                  {% for post in posts %}
                                  <div class="card infinite-item text-center mb-5" id="post-{{post.id}}">
                                      <div class="card-header">
                                        {% if user_from_view == request.user %}
                                          <div class="dropdown text-right">
                                          <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton-{{ post.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          </button>
                                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-{{ post.id }}">
                                {#            <a class="dropdown-item" href="#">#}
                                                <button class="dropdown-item btn btn-outline-success" style="float: right" onClick="editPost({{post.id}})" data-toggle="modal" data-target="#myModal">edit</button>
                                                <button class="dropdown-item btn btn-outline-danger" style="float: right" onClick="deletePost({{post.id}})">delete</button>
                                {#            </a>#}

                                          </div>
                                        </div>
                                          {% endif %}
                                      </div>
                                      <div class="card-body">
                                        <h5 class="card-title postData" name="title">{{ post.title }}</h5>
                                        <p class="card-text postData" name="body">{{ post.body }}</p>
                                          <div class="text-center" id="books-{{post.id}}">
                                              {% if post.books.all %}
                                                  <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseforpost-{{ post.id }}" aria-expanded="false" aria-controls="collapseExample">
                                                    Tap to see attached books
                                                  </button>
                                                  <div class="collapse" id="collapseforpost-{{ post.id }}">
                                                  {% for book in post.books.all %}
                                                      <a href="{% url 'book_detail' id=book.id %}"><img src="{{book.small_pic_url}}" class="img-thumbnail" data-toggle="tooltip" data-placement="bottom" title="{{book.title}}"></a>

                                                  {% endfor %}
                                                  </div>
                                              {% endif %}
                                          </div>
                                      </div>
                                      <div class="card-footer text-muted">
                                        posted {{ post.created_at|timesince }} ago
                                      <div class="text-right"><i class="{% if post in user.post_liked.all %}fas{% else %}far{% endif %} fa-heart" onClick="toggleLike({{post.id}})" style="font-size: 20px; {% if post in user.post_liked.all %}color: red{% endif %}"></i>
                                          <span class="count">{{ post.likes.count }}</span>
                                      </div>
                                      </div>
                                  </div>
                              {% endfor %}
                                {% if posts.has_next %}
                                    <a class="infinite-more-link" href="?page={{ posts.next_page_number }}"></a>
                                {% endif %}
                                <div class="loading" style="display: none;">
                                    Loading...
                                </div>
                              {% else %}
                                No Posts
                              {% endif %}
                        </div>
                    </div>
                </div>
                </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close reset-data" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      <h4 class="modal-title" id="myModalLabel">Update Post</h4>
    </div>
    <form id="updatePost" action="" method="post">{% csrf_token %}
    <div class="modal-body" id="update-books-form">
        <input class="form-control" id="form-id" type="hidden" name="formId"/>
        <label for="updateFormTitle">Post title</label>
        <input class="form-control" id="form-title" type="text" name="updateFormTitle">
        <label for="updateFormBody">Post body</label>
        <input class="form-control" id="form-body" type="text" name="updateFormBody"/>

        <label for="formBooks">Select books for post</label>
        <select class="selectpicker form-control" id="update-book-select" name="updateBookSelect" multiple="multiple" data-size="5" data-live-search="true" multiple data-max-options="3">
         {% for book in request.user.profile.books.all %}
          <option value="{{ book.id }}">{{ book.title }}</option>
         {% endfor %}
        </select>

        Check if you don't want to change books
        <input id="check-for-books" type="checkbox" name="checkForBooks" class="form-control" placeholder="">
{#        <select class="selectpicker form-control" name="bookSelect" multiple="multiple" data-size="5" data-live-search="true" multiple data-max-options="3">#}
{#         {% for book in request.user.profile.books.all %}#}
{#          <option value="{{ book.id }}">{{ book.title }}</option>#}
{#         {% endfor %}#}
{#        </select>#}
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" >Save changes</button>
        <button type="button" class="btn btn-default reset-data" data-dismiss="modal">Close</button>
    </div>
    </form>
  </div>
</div>
    </div>
{% endif %}
{#    {% if user_from_view == request.user %}#}
{#        My page#}
{#    {% else %}#}
{#        Not my page#}
{#    {% endif %}#}
{% endblock %}
{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/infinite.min.js"></script>

    <script>
        function toggleLike(id){
        $.ajax({
                url: '{% url "like_toggle" %}',
                data: {
                    'id': id,
                },
                dataType: 'json',
                success: function (data) {
                    if (data.status) {
                        var likeButton = $('#post-' + id + ' .fa-heart');
                        if (data.status === 'like'){
                            likeButton.removeClass('far').addClass('fas').css('color', 'red');
                        } else {
                            likeButton.removeClass('fas').addClass('far').css('color', '');
                        }
                        $('#post-' + id + ' .count').text(data.count);
                    } else if (data.err) {
                        $('#msgs').html(`<div class='alert alert-danger'>${data.err}</div>`);
                    }
                }
            });
        }
        $(document).ready(

        );
        function follow() {
            if ($('.follow-btn').hasClass('btn-outline-primary')) {
                $.ajax({
                url: '{% url "follow" username=user_from_view.username %}',
                data: {
                    'userId': {{ user_from_view.id }}
                },
                dataType: 'json',
                success: function (data) {
                    if (data.status) {
                        $('.follow-btn').removeClass('btn-outline-primary').addClass('btn-outline-danger').text('Unfollow');
                        $('#msgs').html(`<div class='alert alert-success'>Now you are following {{ user_from_view.username }}</div>`);
                    } else if (data.err) {
                        $('#msgs').html(`<div class='alert alert-danger'>${data.err}</div>`);
                    }
                }
            });
            } else {
                 $.ajax({
                url: '{% url "unfollow" username=user_from_view.username %}',
                data: {
                    'userId': {{ user_from_view.id }}
                },
                dataType: 'json',
                success: function (data) {
                    if (data.status) {
                        $('.follow-btn').removeClass('btn-outline-danger').addClass('btn-outline-primary').text('Follow');
                        $('#msgs').html(`<div class='alert alert-success'>Now you are not following {{ user_from_view.username }}</div>`);
                    } else if (data.err) {
                        $('#msgs').html(`<div class='alert alert-danger'>${data.err}</div>`);
                    }
                }
            });
            }

        }
        {#function unfollow() {#}
        {#   #}

    </script>
    <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
        onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
    </script>
    <script>

    $(function(){
       $('#check-for-books').on('click', function(){
           if ($(this).is(":checked")) {
               $('#update-book-select').selectpicker('deselectAll').next().attr('disabled', true);
           }
           else {
               $('#update-book-select').next().removeAttr('disabled');
           }
          {#$('#update-book-select').attr('disabled', $(this).is(':checked'));#}
       });
    });

    $(document).on('hide.bs.modal','#myModal', function () {

        {#$('#update-book-select').next().removeAttr('disabled');#}
        $('#update-book-select').selectpicker('deselectAll').next().removeAttr('disabled');
        $('input[name="updateFormTitle"]').val('');
        $('input[name="updateFormBody"]').val('');
    });

    $(function () {
            $('.selectpicker').selectpicker();
    });
// Create Django Ajax Call
$("form#addPost").submit(function() {
    var titleInput = $('#addPost [name="title"]').val().trim();
    var bodyInput = $('#addPost [name="body"]').val().trim();
    var booksInput = $('#addPost [name="bookSelect"]').val();
    $('.selectpicker').selectpicker('deselectAll');

    if (titleInput && bodyInput) {
        // Create Ajax Call
        $.ajax({
            type:'POST',
            url: '{% url "crud_ajax_create_post" %}',
            data: {
                'title': titleInput,
                'body': bodyInput,
                'books[]': booksInput,
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
            },
            dataType: 'json',
            success: function (data) {
                if (data.post) {
                    location.reload();
                } else if (data.err) {
                    $('#msgs').html(`<div class='alert alert-danger'>${data.err}</div>`);
                }
            }
        });
      } else {
        alert("Field must have a valid value.");
    }
    $('form#addPost').trigger("reset");
    return false;
});
$("form#updatePost").submit(function() {
    {#$('#update-book-select').selectpicker('deselectAll');#}
    var idInput = $('input[name="formId"]').val().trim();
    var titleInput = $('input[name="updateFormTitle"]').val().trim();
    var bodyInput = $('input[name="updateFormBody"]').val().trim();
    var booksInput = $('#update-books-form [name="updateBookSelect"]').val();

    console.log(booksInput);

    var checker = false;
    if ($("#check-for-books").is(':checked')) {
        checker = true;
        booksInput = null;
    }

    if (titleInput && bodyInput) {
        // Create Ajax Call
        $.ajax({
            type:'POST',
            url: '{% url "crud_ajax_update_post" %}',
            data: {
                'id': idInput,
                'title': titleInput,
                'body': bodyInput,
                'books[]': booksInput,
                'checker': checker,
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
            },
            dataType: 'json',
            success: function (data) {
                if (data.post) {
                  updateToPostTabel(data.post);
                } else if (data.err) {
                    $('#msgs').html(`<div class='alert alert-danger'>${data.err}</div>`);
                }
            }
        });
       } else {
        alert("All fields must have a valid value.");
    }
    $('form#updateUser').trigger("reset");
    $('#myModal').modal('hide');
    return false;
});
function editPost(id) {
  if (id) {
    tr_id = "#post-" + id;
    var name = $(tr_id).find(".postName").text();
    $('#form-id').val(id);
  }
}
function updateToPostTabel(post){
    $("#postDiv #post-" + post.id + " .card-body .postData").each(function() {
        var attr = $(this).attr("name");
        if (attr == "title") {
          $(this).text(post.title);
        } else if (attr == "body") {
          $(this).text(post.body);
        }
      });
    var books = JSON.parse(JSON.parse(JSON.stringify(post.books)));
    textToAppend = '';
    if ((books).length > 0) {
        {#console.log(post.books)#}
        textToAppend += `<button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseforpost-${post.id}" aria-expanded="false" aria-controls="collapseExample">
                    Tap to see attached books
                  </button>
                  <div class="collapse" id="collapseforpost-${post.id}">`;
        for (book in books) {
            textToAppend += `<img src="${books[book].fields.small_pic_url}}" class="img-thumbnail" data-toggle="tooltip" data-placement="bottom" title="${books[book].fields.title}">`;
        }

        textToAppend += `</div>`;
    }
    $("#books-" + post.id).html(textToAppend);
}
function deletePost(id) {
  var action = confirm("Are you sure you want to delete this post?");
  if (action !== false) {
    $.ajax({
        url: '{% url "crud_ajax_delete_post" %}',
        data: {
            'id': id,
        },
        dataType: 'json',
        success: function (data) {
            if (data.deleted) {
              {#$("#postDiv #post-" + id).remove();#}
                location.reload()
            }
        }
    });
  }
}
</script>
{% endblock %}