{% extends 'base.html' %}

{% load libs_tags %}
{% load static %}

{% block title %}
   Search bookmates
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/search_people.css' %}">
{% endblock %}


{% block content %}
<div id="mylayout" class="layout">
<div id="msgs" style="position: fixed; width: 100%"></div>
  	<div class="layout-content">
    	<form id="search-form">
      		<input type="text" placeholder="Search bookmates" name="username" id="username">
      		<button type="submit" id="search-btn"><i class="fa fa-search"></i></button>
    	</form>
        <br><br>
        <div id="result"></div>
  	</div>
</div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).on('submit', '#search-form',function(e){
            e.preventDefault();
            $.ajax({
                url:'{% url "profile_search_result" %}',
                data:{
                    username: $('#username').val(),
                },
                dataType: 'json',
                success:function(data){
                    if (data.status) {
                        $('#msgs').html(``);
                        var htmlToPut = `
                             <div class="card col-8 offset-2">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 col-lg-8 col-md-6">
                                        <input type="hidden" id="usernameHiddenInput" value="${data.username}"/>
                                        <input type="hidden" id="usernameHiddenInput" value="${data.userId}"/>

                                            <h3 class="mb-0 text-truncated">${data.firstname} ${data.lastname}</h3>
                                            <p>
                                                ${data.description}
                                            </p>

                                        </div>
                                        <div class="col-12 col-lg-4 col-md-6 text-center">
                                            <img src="${data.avatarUrl}" alt="" class="mx-auto rounded-circle img-fluid">
                                            <br>

                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <h3 class="mb-0" id="followers-count">${data.followersCount}</h3>
                                            <small>Followers</small>`;
                        if (data.username !== data.currentUsername) {
                            if(data.isFollowing){
                                htmlToPut +=  `<button class="btn btn-outline-danger btn-block follow-btn">Unfollow</button>`;
                            } else {
                                htmlToPut +=  `<button class="btn btn-outline-success btn-block follow-btn">Follow</button>`;
                            }
                        }
                        htmlToPut += `</div>
                                        <div class="col-12 col-lg-4">
                                            <h3 class="mb-0">${data.followingCount}</h3>
                                            <small>Following</small>
                                            <a href="${data.profileUrl}" <button class="btn btn-outline-info btn-block"><span class="fa fa-user"></span> View Profile</button></a>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                          <h3 class="mb-0">${data.books}</h3>
                                            <small>Books on shelves</small>
                                        </div>
                                    </div>
                                 </div>
                             </div>`;
                        $('#result').html(htmlToPut);
                        $( ".follow-btn" ).bind( "click", function() {
                          if ($('.follow-btn').hasClass('btn-outline-success')) {
                                $.ajax({
                                url: data.followUrl,
                                data: {
                                    'userId': data.userId
                                },
                                dataType: 'json',
                                success: function (data) {
                                    if (data.status) {
                                        $('.follow-btn').removeClass('btn-outline-success').addClass('btn-outline-danger').text('Unfollow');
                                        var count = parseInt($('#followers-count').text());
                                        count++;
                                        $('#followers-count').text(count);
                                        $('#msgs').html(`<div class='alert alert-success'>Now you are following ${data.username}</div>`);
                                    } else if (data.err) {
                                        $('#msgs').html(`<div class='alert alert-danger'>${data.err}</div>`);
                                    }
                                }
                            });
                            } else {
                                 $.ajax({
                                url: data.unfollowUrl,
                                data: {
                                    'userId': data.userId
                                },
                                dataType: 'json',
                                success: function (data) {
                                    if (data.status) {
                                        $('.follow-btn').removeClass('btn-outline-danger').addClass('btn-outline-success').text('Follow');
                                        var count = parseInt($('#followers-count').text());
                                        count--;
                                        $('#followers-count').text(count);
                                        $('#msgs').html(`<div class='alert alert-success'>Now you are not following ${data.username}</div>`);
                                    } else if (data.err) {
                                        $('#msgs').html(`<div class='alert alert-danger'>${data.err}</div>`);
                                    }
                                }
                            });
                            }
                        });
                    } else if (data.err) {
                        $('#result').html(``);
                        $('#msgs').html(`<div class='alert alert-danger text-center'>${data.err}</div>`);
                    }
                    {#document.getElementById("post-form").reset();#}
                    {#$(".posts").prepend('<div class="col-md-6">'+#}
                    {#    '<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">' +#}
                    {#        '<div class="col p-4 d-flex flex-column position-static">' +#}
                    {#            '<h3 class="mb-0">' + json.title + '</h3>' +#}
                    {#            '<p class="mb-auto">' + json.description + '</p>' +#}
                    {#        '</div>' +#}
                    {#    '</div>' +#}
                    {#'</div>'#}
                    {#)#}
                },
                error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
            });
        });
    </script>
{% endblock %}