{% extends 'base.html' %}
{% load static %}

{% block title %}My Tags{% endblock %}

{% block content %}
    <div id="msgs"></div>
<div class="row">
  <div class="col-md-4 ">
    <h3>ADD TAG</h3>
    <form id="addTag" action="">
      <div class="form-group">
        <input class="form-control" type="text" name="name" placeholder="tag" required>
      </div>
      <button class="btn btn-primary form-control" type="submit">Add tag</button>
    </form>
      <br><br>
      <a href="{% url 'book_list' %}"><button class="btn btn-block btn-outline-secondary">Back on shelves</button></a>
  </div>
  <div class="col-md-8">
    <h3>My Tags</h3>
    <table id="tagTable" class="table table-striped">
      <tr>
        <th>Tag</th>
      </tr>
      {% if tags %}
      {% for tag in tags %}
      <tr id="tag-{{tag.id}}">
          <td class="tagName tagData" name="name">{{tag.name}}</td>
          <td align="center">
              <button class="btn btn-success form-control" onClick="editTag({{tag.id}})" data-toggle="modal" data-target="#myModal">EDIT</button>
          </td>
          <td align="center">
              <button class="btn btn-danger form-control" onClick="deleteTag({{tag.id}})">DELETE</button>
          </td>
      </tr>
      {% endfor %}
      {% else %}
        No Tags
      {% endif %}
    </table>
  </div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      <h4 class="modal-title" id="myModalLabel">Update Tag</h4>
    </div>
    <form id="updateTag" action="">
    <div class="modal-body">
        <input class="form-control" id="form-id" type="hidden" name="formId"/>
        <label for="name">Tag title</label>
        <input class="form-control" id="form-name" type="text" name="formName"/>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" >Save changes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
    </form>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
// Create Django Ajax Call
$("form#addTag").submit(function() {
    var nameInput = $('[name="name"]').val().trim();
    if (nameInput) {
        // Create Ajax Call
        $.ajax({
            url: '{% url "crud_ajax_create_tag" %}',
            data: {
                'name': nameInput,
            },
            dataType: 'json',
            success: function (data) {
                if (data.tag) {
                  appendToTagTable(data.tag);
                } else if (data.err) {
                    $('#msgs').html(`<div class='alert alert-danger'>${data.err}</div>`);
                }
            }
        });
      } else {
        alert("Field must have a valid value.");
    }
    $('form#addTag').trigger("reset");
    return false;
});
function appendToTagTable(tag) {
  $("#tagTable > tbody:last-child").append(`
        <tr id="tag-${tag.id}">
            <td class="tagName" name="name">${tag.name}</td>
            '<td align="center">
                <button class="btn btn-success form-control" onClick="editTag(${tag.id})" data-toggle="modal" data-target="#myModal")">EDIT</button>
            </td>
            <td align="center">
                <button class="btn btn-danger form-control" onClick="deleteTag(${tag.id})">DELETE</button>
            </td>
        </tr>
    `);
}
$("form#updateTag").submit(function() {
    var idInput = $('input[name="formId"]').val().trim();
    var nameInput = $('input[name="formName"]').val().trim();
    if (nameInput) {
        // Create Ajax Call
        $.ajax({
            url: '{% url "crud_ajax_update_tag" %}',
            data: {
                'id': idInput,
                'name': nameInput
            },
            dataType: 'json',
            success: function (data) {
                if (data.tag) {
                  updateToTagTabel(data.tag);
                } else if (data.err) {
                    $('#msgs').html(`<div class='alert alert-danger'>${data.err}</div>`);
                }
            }
        });
       } else {
        alert("All fields must have a valid value.");
    }
    $('form#updateUser').trigger("reset");
    $('#myModal').modal('hide');
    return false;
});
function editTag(id) {
  if (id) {
    tr_id = "#tag-" + id;
    var name = $(tr_id).find(".tagName").text();
    $('#form-id').val(id);
    $('#form-name').val(name);
  }
}
function updateToTagTabel(tag){
    $("#tagTable #tag-" + tag.id).children(".tagData").each(function() {
        var attr = $(this).attr("name");
        if (attr == "name") {
          $(this).text(tag.name);
        }
      });
}
function deleteTag(id) {
  var action = confirm("Are you sure you want to delete this tag?");
  if (action !== false) {
    $.ajax({
        url: '{% url "crud_ajax_delete_tag" %}',
        data: {
            'id': id,
        },
        dataType: 'json',
        success: function (data) {
            if (data.deleted) {
              $("#tagTable #tag-" + id).remove();
            }
        }
    });
  }
}
</script>
{% endblock javascript %}